
body {
	font-size: 16px;
	font-weight: bold;
	font-family: Roboto;
	color: #fff;
	width: 900px;
	margin: 0 auto;
	
}
a {
	text-decoration: underline;
	color: white;
}

.container {
	background: #849D8F;
}

.nav{
	padding-left: 30px;
	padding-top: 22px;
	font-size: 16px;
	float: left;
	
	margin-top: 0;
	

}
.header {
	height: 84px;
}
.header ul li {
	display: inline-block;
	padding-right: 28px;
	margin-top: 10px; 
	
}
.search {
	width: 285px;
	float: right;
	
	margin-top: 25px;
	
}
.time {
	font-size: 14px;
	float: right;
	margin-top: 5px;
}
.tel {
	letter-spacing: 0.5px;
	font-size: 22px;
	padding-top: 2px;
	float: right;
	
}
.time-tel {
	width: 190px;
	float: right;
	margin-top: 16px;
	padding-right: 20px;
	position: absolute;
	top: 50px;
	left: 690px;
}

.logo {
	padding: 10px 0 0 15px;
	display: inline;
	float: left;

}
.lupa {
	float: left;
	width: 33px;
	height: 33px;
	background-color: #ABC1B5;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;

}
.login {
	width: 93px;
	height: 33px;
	background-color: #ABC1B5;
	border-radius: 25px;
	margin-right: 10px;
	float: left;
	text-decoration: none;
}

.time {
	outline: 1px solid red;
	font-size: 14px;
	float: right;
	margin-top: 5px;
}
.tel {
	outline: 1px solid red;
	letter-spacing: 0.5px;
	font-size: 22px;
	padding-top: 2px;
	float: right;
	
}
.time-tel {
	width: 190px;
	float: right;
	margin-left: 503px;
	margin-top: 16px;
	padding-right: 20px;
	position: absolute;
	top: 50px;
	left: 690px;
	outline: 1px solid red;
}
.cart-info {
	width: 119px;
	height: 33px;
	background-color: #ABC1B5;
	border-radius: 25px;
	float: left;
	text-align: center;
}
.sliv-main {
	font-size: 35px;
	padding-left: 20px;
}

.population {
	outline: 1px solid red;
	display: inline-block;
	padding-left: 20px;
}
.search-radius {
	outline: 1px solid red;
	display: inline-block;
	margin-left: 20px;
}
.search-radio {
	outline: 1px solid red;
	display: inline-block;
	margin-left: 20px;
}
.search-check {
	outline: 1px solid red;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
	margin-bottom: 5px;
}

.font-size16 {
	font-size: 16px;
}

.ranger-search {
	background: #A9B9AF;
}
.bg-radio {
	padding: 8px 5px;
	border-radius: 20px;
	background: #A9B9AF;
	width: 416px; 
}
.opt {
	background: #A9B9AF;
}

.search-checkbox {
	background: #A9B9AF; 
	display: inline-block;
	padding: 8px 5px;
	border-radius: 20px;
	width: 692px;
	margin-left: 20px;
	outline: 1px solid red;
}
.btn {
	margin-left: 15px;
	background: #A6B7AD;
	color: white;
	border-radius: 20px;
	padding: 7px 29px;
	border: 2px solid white;
	font-size: 16px;
}

.wrap-product {
	margin-top: 35px;
}

.products {
	outline: 1px solid red;
}

.morozenoe-sale {
	padding-left: 20px;
	outline: 1px solid red;
	vertical-align: top;
}
.sale {
	outline: 1px solid red;
	display: inline-block;
	width: 202px;
	text-align: center;
	padding-right: 15px;
}

.page {
	outline: 1px solid red;
	display: inline-block;
	margin-left: 700px;
}
.page li {
	display: inline-block;
	padding: 5px;
	
}
















.razdelitel {
	background-image: url("../img/razdelitel.png");
	background-repeat: no-repeat;
	margin-top: 10px;
	width: 860px;
	height: 1px;
	margin-left: 20px;

}


/*-----------------------------------------------Footer-------------------------------------------------*/
.footer {
	
	height: 100px;
}
.join {
	outline: 1px solid red;
	display: inline-block;
	width: 188px;
	
}
.join li {
	width: 35px;
	height: 35px;
	display: inline-block;
	padding-right: 8px;
}
.production {
	display: inline-block;
	outline: 1px solid red;
	list-style: none;
	font-size: 13px;
}
.standarts {
	display: inline-block;
	list-style: none;
	outline: 1px solid red;
	font-size: 13px;
}
.copyright {
	float: right;
	outline: 1px solid red;
	font-size: 12px;
	height: 80px;
}
.htmlacademy {
	width: 120px;
	height: 45px;
	background-image: url("../img/log.png");
	background-repeat: no-repeat;
}
.copyright span {
	outline: 1px solid red;
}
.production-bold {
	font-size: 13px;
	font-weight: bold;
}
.heart {
	margin-right: 5px;
	
}
