body {
  	font-size: 18px;
    line-height: 1.2;
    font-family: "Roboto", "Arial", sans-serif;
    position: relative;
    color: white;
}

body > input[type="radio"] {
    display: none;
}

a {
	text-decoration: underline;
	color: white;
}




/*-------------------------------------------------------------------------------------Header--------------------------------------------------------------------------*/
.header {
	height: 84px;
	position: relative;
}


.nav{
	padding-left: 16px;
	padding-top: 32px;
	font-size: 16px;
	float: left;
	margin-top: 0;
}

.nav li {
	display: inline-block;
}

.nav li a:hover {
	color: #333333;
	background: #F7F6F3;
	text-decoration: none;
	border-radius: 15px;
}

.padding-menu a {
	padding: 5px 14px;
}

.active-navigation:active {
	font-weight: bold;
	font-size: 16px;
	border-radius: 15px;
	box-shadow: inset 0 2px 2px rgba(125, 125, 125, 1);
}

.new {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: url("../img/raz2.png") no-repeat;
	background-position: 8px 35px;
}
/*---------------------------выпадающее подменю в hedere---------------------------*/
.sub {
	width: 143px;
	background: #F8F7F4;
	color: black;
	list-style: none;
	position: absolute;
	top: 62px;
	left: 184px;
	border-radius: 5px;
	padding: 0;
	z-index: 9001;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease .15s; /* Добавляем анимацию 0.2 сек. и задержку в 0.15 сек. */
}

.sub a {
	padding-left: 10px;
}

.sub-menu {
	width: 143px;
	list-style: none;
	padding: 11px 0px 10px 0px;
	margin: 0;
	font-size: 14px;
}

.sub-menu a {
	line-height: 18px;
	display: inline-block;
	color: #7B7A79;
	text-decoration: none;
	padding-left: 20px;
}

.sub-menu li {
	width: 100%;
}

.sub-menu li a {
	width: 100%;
	box-sizing: border-box;
}

.sub-menu li a:hover {
	border-radius: 0;
	background: #FBDED7;
}

.sub-menu li a:active {
	background: #F6B5A5;
}

.nav5:hover .sub{
   	opacity: 1;
   	visibility: visible;
}


/*------------------------------------------------------------выпадающее подменю-------------------------------------------*/
/*-----------------------------------------------------------------Форма поиска---------------------------------------------*/


.lupa {
	float: left;
	width: 33px;
	height: 33px;
	background-color: #ABC1B5;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
	background-image: url("../img/lupa.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.lupa:hover {
	float: left;
	width: 33px;
	height: 33px;
	background-color: #F8F7F4;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
	background-image: url("../img/lupa.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.form-search {
	padding-top: 5px;
	width: 282px;
	height: 71px;
	background: #F8F7F4;
	border-radius: 5px;
	position: absolute;
	top: 62px;
	left: 366px;
	z-index: 9999;
	display: none;
}

.input-search {
	margin-top: 16px; 
	width: 248px;
	height: 39px;
	border-radius: 5px;
	border:1px solid #D3D3D2;
	padding-left: 15px;
	font-size: 14px;
}

.lupa:hover .form-search {
	display: block;
}

.search {
	width: 285px;
	float: right;
	margin-top: 25px;
	
}
.time {
	font-size: 14px;
	float: right;
	margin-top: 5px;
}
.tel {
	letter-spacing: 0.5px;
	font-size: 22px;
	padding-top: 2px;
	float: right;
	
}
.time-tel {
	width: 190px;
	float: right;
	margin-top: 16px;
	padding-right: 20px;
	position: absolute;
	top: 50px;
	left: 690px;
}

.logo {
	padding: 10px 0 0 15px;
	display: inline;
	float: left;

}

.login {
	width: 78px;
	height: 33px;
	background-color: #ABC1B5;
	border-radius: 25px;
	margin-right: 10px;
	float: left;
	text-decoration: none;
	line-height: 33px;
	padding-left: 10px;
	padding-right: 5px;
	font-size: 14px;
	position: relative;

}
.login:before {
	content: "";
 	display: block;
 	background: url("../img/login.svg") no-repeat;
 	width: 20px;
 	height: 20px;
 	float: left;
	margin: 0 13px 0 0;
	position: relative;
	left: 5px;
	top: 7px;
	
}
.login:hover{
	background: #F8F7F4;
	color: #323232;
	
}
	

.login-form {
	z-index: 9002;
	width: 272px;
	height: 175px;
	position: absolute;
	top: 62px;
	left: 480px;
	background: #F8F7F4;
	border-radius: 5px;
	display: none;
}
.login2:hover .login-form {
	display: block;
}

.email {
	margin-top: 20px;
	margin-bottom: 10px;
}
.email, .password {
	width: 225px;
	height: 37px;
	margin-left: 15px;
	border-radius: 3px;
	border:1px solid #D3D3D2;
	font-size: 14px;
	padding-left: 15px;
}
.btn-login {
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 25px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 9px 27px;
	border:none;
	outline: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  	float: left;
}

.btn-login:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-login:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.reg {
	
	margin-left: 136px;
	margin-top: 11px;
	

	
}
.forgot-password {
	font-size: 13px;
	color: #333333;
	padding-right: 10px;

	
}
.new-registration {
	font-size: 13px;
	color: #333333;
	
	
}
.red:hover {
	color: #EC593C;
}

.cart-info {
	width: 109px;
	height: 33px;
	background-color: #ABC1B5;
	border-radius: 25px;
	float: left;
	text-align: center;
	line-height: 33px;
	font-size: 14px;
	padding-right: 9px;
}
.cart-info:before {
	content: "";
	display: block;
	background: url("../img/korzina.svg") no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 0px 0 0;
	position: relative;
	left: 15px;
	top: 7px;
}
.cart-info:hover {
	cursor: pointer;
	background: #F8F7F4;
	color: #474746;
}

.cart-info-buy {
	width: 539px;
	height: 239px;
	background: #F8F7F4;
	position: absolute;
	top: 62px;
	left: 342px;
	border-radius: 5px;
	color: #474746;
	z-index: 9004;
	display: none;
}
.cart-info:hover .cart-info-buy {
	display: block;
}
.itogo {
	float: right;
	padding-right: 30px;
	padding-top: 6px;
}
.oformlenie {
	color: white;
	border:none;
	outline: none;
	font-size: 15px;
	font-weight: bold;
	border-radius: 25px;
	padding: 9px 20px;
	position: relative;
	top: 48px;
	left: 241px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.oformlenie:hover {

    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.oformlenie:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

table {
	padding-top: 14px;
	padding-bottom: 15px;
	line-height: 15px;
	background: url("../img/raz10.png") no-repeat;
	background-position: 50% 100%;
}

tr {
	height: 52px;
	margin-bottom: 10px;
}

td {
	padding: 0px 8px 0px 10px;
	font-size: 13px;
	text-align: left;
	border-top: 5px solid #F8F7F4;
	border-bottom: 5px solid #F8F7F4;
}

td:last-child {
	padding-right: 20px;
}

.bg-table {
	background: url("../img/korzina1.png") no-repeat 96% 50%,
				url("../img/korzina2.png") no-repeat 22% 50%;
}

.bg-table1 {
	background: url("../img/korzina3.png") no-repeat 96% 50%,
				url("../img/korzina2.png") no-repeat 22% 50%;
}



/*-------------------------------------------------------------Форма поиска--------------------------------------------------*/
/*------------------------------------------------------------обертка + слайдер----------------------------------------------*/



.site-wrapper {
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before,
.site-wrapper:after {
    content: "";
    visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
    background-image: url("../img/slider1.png");
}

.site-wrapper:after {
    background-image: url("../img/slide2.png");
}

.content-wrapper {
    width: 900px;
    margin: 0 auto;
}

.slider {
    position: relative;
    padding-top: 270px;
    text-align: center;
    color: #ffffff;
    z-index: 9000;
} 

.slider-check {
	display: inline-block;
	position: absolute;
	top: 553px;
	left: -20px;
}

.slider-check li {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: #8CA698;
	border-radius: 15px;
	border: 2px solid white;
	margin-right: 5px;
	cursor: pointer;
}


.slide {
  	display: none;
}

.slide-title {
	 width: 700px;
	 margin: 0 auto;
	 margin-bottom: 30px;
	 font-weight: 800;
	 font-size: 60px;
}

.btn:hover{
	 background: #B2C1B7;
}

.btn:active {
	 background: #FFFFFF;
}

.slide-btn {
	  display: inline-block;
	  padding: 12px 50px;
	  font-weight: 600;
	  font-size: 31px;
	  line-height: 41px;
	  vertical-align: top;
	  color: #ffffff;
	  text-decoration: none;
	  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	  background: #f26843;
	  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	  border-radius: 100px;
	  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
	  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
	  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	  position: absolute;
	  bottom: 25px;
	  left: 0;
	  z-index: 20;
	  padding-left: 20px;
	  font-size: 0;
}

.slider-controls label {
	  display: inline-block;
	  width: 17px;
	  height: 17px;
	  margin-right: 8px;
	  vertical-align: top;
	  background-color: transparent;
	  border: 2px solid #ffffff;
	  border-radius: 50%;
	  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  	 display: block;
}

#btn-1:checked ~ .site-wrapper {
 	 background-color: #849d8f;
 	 background-image: url("../img/mor1.png");
}

#btn-2:checked ~ .site-wrapper {
	 background-color: #8996a6;
 	 background-image: url("../img/slide2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}



/*-------------------------------------------------------Конец слайдера-----------------------------------------------------------*/
/*----------------------------------------------------------COntent----------------------------------------------------------------*/




.present-present {
	padding-top: 40px;
	display: inline-block;
}
.present-one{
	width: 420px;
	height: 229px;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	background: url('../img/malina.png') no-repeat;
	margin-left:20px;
	margin-left: 20px;
}

.present-two{
	width: 420px;
	height: 229px;
	float: right;
	background: url('../img/chocolate.png') no-repeat;
}

.fig {
	text-align: center;
}

.info {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}

.info-title {
	font-size: 60px;
	position: absolute;
	top: 354px;
	left: 127px;
	line-height: 1;
}

.button-two {
	width: 280px;
	background: #EC573B;
	padding: 15px 0px;
	font-size: 30px;
	border-radius: 40px;
	text-decoration: none;
	position: absolute;
	top: 545px;
	left: 300px;
}


.h2 {
	padding-left: 20px;
	font-size: 35px;
	padding-left: 20px;
	position: relative;
	top: -14px;
}
.p-description {
	font-size: 18px;
	padding-left: 20px;
	position: relative;
	top: -27px;
}
.description-info {
	font-size: 16px;
	line-height: 24px;
	padding: 0;
	margin-top: -48px;
}
.price-r {
	
	font-weight: bold;
	font-size: 30px;
	position: absolute;
	left: 120px;
	top: 163px;

}
.price-hit {
	font-size: 45px;
	position: relative;
	left: -62px;
	top: -65px;
	
}
.price-hit:after {
	content: "";
	width: 35px;
	height: 35px;
	background: url("../img/p.png") no-repeat;
	position: absolute;
	left: 78px;
	top: 11px;
}
.button2 {
	width: 165px;
	height: 46px;
	background: #EC573B;
	padding: 12px 24px ;
	border-radius: 25px;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	top: -12px;
	left: 234px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.button3 {
	width: 165px;
	height: 46px;
	background: #EC573B;
	padding: 12px 24px ;
	border-radius: 25px;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	top: -19px;
	left: 207px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}



.button2:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button2:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.button3:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button3:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.morozenoe-sale {
	padding-left: 10px;
	margin-top: 38px;
	
}
.sale {
	display: inline-block;
	width: 202px;
	text-align: center;
	vertical-align: top;
	padding-right: 8px;
	padding-left: 8px;
	position: relative;
	padding-top: 10px;
	font-size: 16px;
	transition: all 1s ease;
}
.sale:hover {
	height: 356px;
	background: #A7B8AD;
	border-radius: 5px;
	
	transition: all 1s ease;
}
.sale a:hover {
	text-decoration: none;
}

.fast {
	border-radius: 25px;
	border:none;
	outline: none;
	color: white;
	padding: 9px 24px;
	margin-top: 3px;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	top: 305px;
	left: 10px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  	
}
.fast:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.fast-view2 a:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.fast-view2 {
	display: none;
}

.sale:hover .fast-view2{
	display: block;
}

.sale:hover .fast-view2 a {
	text-decoration: none;
}

.hit {
	position: absolute;
	top: 0px;
	left: 5px;
}

.description-production {
	margin: 0 auto;
	margin-top: 22px;
	width: 860px;
	background-image: url("../img/layer0.jpg");
	border-radius: 30px;
	position: relative;
}

.description-production::after {
	content: "";
	display: table;
	clear: both;
}

.description-p {
	font-size: 16px;
	width: 342px;
	margin-left: 57px;
	padding-top: 12px;
}

.description-p2 {
	font-size: 16px;
	width: 342px;
	margin-left: 57px;
}

.information {
	width: 400px;

	padding-top: 0px;
	float: left;
	padding-left: 20px;
	color: #323232;
}
section h3 {
	font-size: 24px;
	padding-top: 20px;
	padding-left: 20px;
	margin: 0;
	color: #323232;
	width: 692px;
	line-height: 1.3;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.icon-inform {
	width: 47px;
	height: 47px;
	background-image: url("../img/morozenoe.svg");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 94px;
	left: 21px;
}

.icon-inform2 {
	width: 47px;
	height: 47px;
	background-image: url("../img/korowa.svg");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 94px;
	left: 438px;
}

.icon-inform3 {
	width: 47px;
	height: 47px;
	background-image: url("../img/listik.svg");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 225px;
	left: 21px;
}

.icon-inform4 {
	width: 47px;
	height: 47px;
	background-image: url("../img/gradusnik.svg");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 225px;
	left: 438px;
}

.article-two {
	margin-top: 40px;
	margin-bottom: 40px;
}

.klubnika {
	width: 420px;
	height: 220px;
	background-image: url("../img/klubnika.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
	margin-left: 20px;
	color: black;
	display: inline-block;
}

.klubnika a {
	color: #353535;
	font-size: 24px;
}

.info-blog {
	margin-top: 20px;
	margin-left: 20px;
	color: #5A5A5A;
}

.article-blog {
	font-weight: bold;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.7);

}
.article-blog:hover {
	color: #FFBC9E;
}
.article-blog2 {
	padding-left: 20px;
}

.rss {
	width: 420px;
	height: 220px;
	background-image: url("../img/podlojka.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
	float: right;
	margin-right: 20px;
}

.rss-description {
	padding: 20px 20px 0px 20px;
	color: #5A5A5A;
	font-size: 16px;
}

.box {
	width: 228px;
	height: 40px;
	border-radius: 5px;
	margin-left: 20px;
	border: 1px solid #D3D3D2;
	color: #999999;
	font-size: 16px;
	padding-left: 5px;
	margin-right: 7px;
}
.post {
	background: #EB563B;
	border-radius: 25px;
	width: 127px;
	height: 45px;
	color: white;
	font-size: 17px;
	border: 0;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.post:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.post:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    outline: none;
}
.post:focus {
	outline: none;
}
.map {
	height: 430px;
	background: 
		url("../img/pin2.png") no-repeat 220px 170px,
		url("../img/pin.svg") no-repeat 187px 139px,
		url("../img/maps.jpg");
	position: relative;
	
}

.feedback {
	width: 302px;
	height: 305px;
	background: #FDFEFE;
	color: #343434;
	border-radius: 20px;
	text-align: left;
	position: absolute;
	top: 1963px;
	left: 1075px;
}

.adress {
	color: #7D7D7D;
	padding: 30px 0 0 20px;
	font-size: 14px;
}

.adress2 {
	font-size: 14px;
	padding-left: 20px;
	margin-top: 22px;
	color: #7D7D7D;
}

.adress3 {
	font-size: 14px;
	color: #7D7D7D;
	padding-left: 20px;
	margin-top: -10px;
	
}
.feedback-form {
	padding:13px 39px;
	background: #EB563B;
	border-radius: 20px;
	text-align: center;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.feedback-form:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback-form:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
}

.feedback-form-box {
	text-align: center;
	padding-top: 25px;
}

.street {
	padding-left: 20px;
	font-size: 18px;
	
	margin-top: -5px;
}
.number {
	padding-left: 20px;
	margin-top: -3px;
	
}

/*-----------------------------------------------------------------------------------------------COntent-----------------------------------------------------------------------*/









/*--------------------------------------------------------------А это код второй страницы тут только контент-----------------------------------------------------------------------*/
/*--------------------------------------------------------------А это код второй страницы тут только контент-----------------------------------------------------------------------*/
/*--------------------------------------------------------------А это код второй страницы тут только контент-----------------------------------------------------------------------*/
.site-wrapper-catalog {

	background: #849D8F;
	background-image: url("../img/svet-catalog.png");
	background-repeat: no-repeat;
}

.content {
	margin-top: -20px;
}

.catalog {
	background-color: #D07058;
	padding: 7px 13px;
	border-radius: 25px;
	
}
.catalog-nav {
	display: inline-block;
	padding: 0;
	font-size: 14px;
	margin-top: 22px;
	position: absolute;
	left: 523px;
	top: 76px;
}
.catalog-nav li {
	display: inline-block;
}

.navigation-link {
	font-size: 14px;
	display: inline-block;
	margin: 0;
	position: absolute;
	top: 99px;
	left: 516px;
}

.sliv-main {
	font-size: 35px;
	padding-left: 20px;
	padding-top: 28px;
}

.population {
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
}

.search-radius {
	display: inline-block;
	margin-left: 13px;
	vertical-align: top;
}

.search-radio {
	display: inline-block;
	margin-left: 12px;
}

.search-check {
	font-size: 14px;
	padding-left: 37px;
	margin-top: 10px;
	display: inline-block;
	margin-bottom: 5px;
}

.font-size16 {
	font-size: 14px;
	padding-left: 16px;
}

.font-size14 {
	font-size: 14px;
	padding-left: 13px;
}

.font-size13 {
	font-size: 14px;
	padding-left: 15px;
}

.search-radius-bg {
	background-color: #A9B9AF;
	padding: 4px 12px;
	border-radius: 25px;
	margin-top: 5px;
}

.ranger-search {
	width: 190px;
}

.ranger-search:hover {
	cursor: pointer;
}

.search-radio-label {
	padding-right: 15px;
	padding-left: 5px;
}

.bg-radio {
	padding: 8px 5px;
	border-radius: 20px;
	background: #A9B9AF;
	width: 406px; 
	margin-top: 5px;
}
.opt2 {
	color: white;
	background: #A9B9AF;
	padding: 7px 30px 7px 12px;
	border-radius: 25px;
	font-size: 16px;
	margin-top: 5px;
	outline: none;
}

.search-checkbox {
	background: #A9B9AF; 
	display: inline-block;
	padding: 8px 5px;
	border-radius: 20px;
	width: 692px;
	margin-left: 20px;
	
}

.search-checkbox-label {
	padding-left: 8px;
}

.checkbox-padding {
	margin-right: 10px;
}

.search-catalog {
	vertical-align: top;
}

.btn5 {
	margin-left: 15px;
	background: #A6B7AD;
	color: white;
	border-radius: 20px;
	padding: 7px 29px;
	border: 2px solid white;
	font-size: 16px;
	outline: none;
}

.btn5:hover {
	background: #FAFBFB;
	color: #383939;
	cursor: pointer;
}
.btn5:active {
	padding: 9px 31px;
	border: none;
	box-shadow: inset 0 2px 2px rgba(125, 125, 125, 1);
}
.wrap-product {
	margin-top: 35px;
}

.page {
	float: right;
}
.pagination::after {
	content: "";
	display: table;
	clear: both;
}
.page li {
	display: inline-block;
	padding: 5px;
	margin-right: 3px;
}
.page li a {
	text-decoration: none;
	width: 26px;
	height: 26px;
	padding: 3px 8px;
}

.now {
	background-color: #fff;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	color: #353535;
	padding: 3px 1px 3px 3px;
}

.page li a:hover {
	background-color: #fff;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	color: #353535;
	padding: 3px 8px;
}

.razdelitel {
	background-image: url("../img/razdelitel.png");
	background-repeat: no-repeat;
	margin-top: 10px;
	width: 860px;
	height: 1px;
	margin-left: 20px;

}


/*--------------------------------------------------------------А это код второй страницы тут только контент-----------------------------------------------------------------------*/
/*--------------------------------------------------------------А это код второй страницы тут только контент-----------------------------------------------------------------------*/
/*--------------------------------------------------------------А это код второй страницы тут только контент-----------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------------------footer-----------------------------------------------------------------------*/



.footer {
	
	height: 80px;
	padding-top: 20px;
}
.footer a:hover {
	color: #FFBC9E;
}
.join {
	
	display: inline-block;
	width: 190px;
	margin: 0;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 40px;
}
.join li {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 8px;
	border-radius: 50%;
	border: 3px solid #C2CEC7;
}
.production {
	display: inline-block;
	list-style: none;
	font-size: 13px;
	margin: 0;
	vertical-align: top;
	position: relative;
	line-height: 1.6;
}

.production-bold:before {
	content: '';
	background: url("../img/heart.svg") no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 20px;
	top: 2px;
}
.standarts {
	display: inline-block;
	list-style: none;
	font-size: 13px;
	margin: 0;
	line-height: 1.6;
}
.copyright {
	float: right;
	font-size: 12px;
	background-image: url("../img/logo3.png");
	background-repeat: no-repeat;
}

.copyright p {
	padding-top: 33px;
	padding-right: 18px;
}
.production-bold {
	font-size: 13px;
	font-weight: bold;
}
.heart {
	margin-right: 5px;
}

.vkontakte {
	background-image: url("../img/vk.svg");
	background-repeat: no-repeat;
}
.instagram {
	background-image: url("../img/insta.svg");
	background-repeat: no-repeat;
}
.facebook {
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
}
.twitter {
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
}

.soc1:hover {
	background-image: url("../img/twitter.svg");
	background-color: #FDFDFD;
	background-repeat: no-repeat;
	border: 3px solid #DBE3DE;

}